<h2>Congratulations!</h2>
<p>Your URL <a href="<%= long %>"><%= long %></a> has been compressed to Short URL: <a href="<%= short %>"><%= short %></a></p>
<p><a class="btn btn-primary btn-lg" href="<%= short %>" role="button">Go!</a></p>